*{
    padding: 0;
    margin: 0;
}

nav{
    width: 100%;
    height: 100%;
    line-height: 75px;
    padding-left: 550px;
    z-index: 1;
    text-align: center;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    padding: 0px 32px;
}

nav ul li a:hover{
    color:#c0d96f
}

nav ul li .active{
    color: #c0d96f
}

.image1{
    margin-left: 1400px;
    margin-top: -500px;
}

.image2{
    margin-left: 50px;
}

.welcome{
    margin-left: 200px;
    margin-top: 500px;
}

.developer{
    margin-left: 200px;
}

.paragraph{
    margin-left: 200px;
}

.name{
    margin-left: 900px;
}

.paragraph1{
    margin-left: 900px;
}

.list{
    margin-left: 900px;
    margin-top: -450px;
    color: white;
}

.services{
    margin-top: 350px;
}

.html{
    width: 500px;
    height: 400px;
    margin-top: 100px;
    margin-left: 100px;
}

.css{
    width: 500px;
    height: 400px;
    margin-left: 1050px;
    margin-top: -410px;
}

.js{
    width: 500px;
    height: 400px;
    margin-left: 2100px;
    margin-top: -410px;
}

.fa {
    width: 5px;
    text-align: center;
    text-decoration: none;
    margin-left: 600px;
}

.fa-twitter {
    color: white;
}

.fa-instagram{
    color: pink;
}

.fa-google{
    color: red;
}

@media screen and (min-width: 480px) {
}